@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }
}

.btn {
  padding: 4px 16px;
  margin-left: 10px;
}

.inputt{
  padding: 4px;
}

.p-4{
  padding: 16px;
}

.inputWrapper{
  margin-top: 16px;
}
